{% extends 'base.html' %}

{% block content %}

<div class="media-body">
      <h3 class="display-4">Hospitals</h3>
      </div>
     <hr>

{% for b in hosts  %}
<article class="media content-section">
      <img src="{{ b.image.url }}" class="rounded-circle article-img">
      <div class="media-body">
            <div class="article-metadata">
            <small class="float-right mt-3 mr-5">{{ b.location}}</small>
            </div>
      <h3><a class="article-title ml-3">{{ b.name }}</a></h3>
      <br>
      <h6 class="font-italic article-content ml-3"> {{ b.facility }}</h6>
      <hr>
      <p class="font-italic">Contact us at: {{ b.contact }}</p>

      </div>  
       
</article>


{% endfor %}
<div class="article-metadata">
      <a class="btn btn-outline-success mt-2 float-right" href="{% url 'hospital-add'%}" >
            Add Hospital
            </a>
</div>
{% endblock content %}